:root {
  --sans-serif: "Montserrat", "Helvetica", "Verdana", sans-serif;
  --serif: "Times New Roman", "Georgia", "Baskerville", serif;
  --color-white: rgb(255, 255, 255); /* #fff */
  --color-black: rgb(0, 0, 0); /* #000 */
  --color-border: rgb(208, 208, 208); /* #d0d0d0 */
  --color-silver: rgb(189, 189, 189); /* #bdbdbd */
  --color-eclipse: rgb(39, 22, 17); /* #271611 */
  --color-wild-sand: rgb(245, 245, 245); /* #f5f5f5 */
  --color-japonica: rgb(211, 126, 86); /* #d37e56 */
  --color-brown-rust: rgb(167, 91, 56); /* #a75b38 */
  --color-mongoose: rgb(176, 156, 122); /* #b09c7a */
  --color-domino: rgb(143, 124, 90); /* #8f7c5a */
  --color-akaroa: rgb(220, 205, 180); /* #dccdb4 */

  /* cards colors */
  --color-aths-special: rgb(238, 231, 214); /* #eee7d6 */
  --color-cararra: rgb(234, 235, 230); /* #eaebe6 */
  --color-serenade: rgb(255, 240, 226); /* #fff0e2 */
  --color-remy: rgb(254, 235, 240); /* #feebf0 */
  --color-snow-drift: rgb(238, 243, 239); /* #eef3ef */
  --header-height: 102px;
  --side-gap: 188px;
  --full-width: calc(100% - (var(--side-gap) * 2));
  --column-width: calc(var(--full-width) / 5);
}
