footer.site-footer
  .container
    dl.site-footer__list.footer-list
      .footer-list__item
        dt.footer-list__title.visually-hidden Адреса
        dd.footer-list__content
          ul.address-list
            li.address-list__item
              address.address-list__text БГУИР, корпус N5 (ул. Платонова, 39)
            li.address-list__item
              address.address-list__text Журфак БГУ (ул. Кальварийская, 9)
            li.address-list__item
              address.address-list__text Юрфак БГУ (ул. Ленинградская, 8)
      .footer-list__item
        dt.footer-list__title Партнёры
        dd.footer-list__content
          .site-footer__partners-list.partners-list
            img(src="img/partner-bioakvatoria.png", width="77" height="77" alt="Логотип Биоакватория").partners-list__logo
            img(src="img/partner-sorso.png", width="77" height="77" alt="Логотип Sorso.by").partners-list__logo
            img(src="img/partner-the-buter.png", width="77" height="77" alt="Логотип The бутер").partners-list__logo
            img(src="img/partner-bobruisky.png", width="124" height="77" alt="Логотип Бобруйский").partners-list__logo
            img(src="img/partner-crunch.png", width="124" height="77" alt="Логотип Crunch").partners-list__logo
            img(src="img/partner-giffard.png", width="151" height="45" alt="Логотип Giffard").partners-list__logo
            img(src="img/partner-e-dostavka.png", width="238" height="45" alt="Логотип E-dostavka.by").partners-list__logo
            img(src="img/partner-snickers.png", width="127" height="45" alt="Логотип Snickers").partners-list__logo
      .footer-list__item
        dt.footer-list__title Мы в соц. сетях
        dd.footer-list__content
          ul.socials
            li.socials__item
              a(href="#" title="Мы в Вконтакте").socials__link.socials__link--vk
            li.socials__item
              a(href="#" title="Мы в YouTube").socials__link.socials__link--youtube
            li.socials__item
              a(href="#" title="Мы в Телеграм").socials__link.socials__link--telegram
            li.socials__item
              a(href="#" title="Мы в TikTok").socials__link.socials__link--tiktok
