header.site-header
  .site-header__container.container
    a(href="/").site-header__logo.logo
      img(src="img/logo.svg", alt="Логотип сайта Molecule", width="247", height="82").logo__image
    nav.site-header__site-navigation.site-navigation
      ul.site-navigation__list
        li.site-navigation__item
          a.site-navigation__link(href="#promo") Акции
        li.site-navigation__item
          a.site-navigation__link(href="#new") Новинка
        li.site-navigation__item
          a.site-navigation__link(href="#menu") Меню
        li.site-navigation__item
          a.site-navigation__link(href="#locations") Кофейни
        li.site-navigation__item
          a.site-navigation__link(href="#order") Sorso
