section.new#new
  .new__container.container
    .new__content
      .new__text-content
        h2.new__title Баунти
        span.new__tag Новинка
        p.new__price 4,8 BYN
          sup.new__volume 300 мл
        p.new__description Это кофейный напиток, который готовится из эспрессо, сливок и сахара (простого и ванильного). Его можно назвать кофейно-молочным коктейлем или десертом, так как он очень вкусный, сладкий, нежный, в чем-то напоминает крем-брюле.
      .new__media
        img(src="img/coffee-baunty-big.jpg" width="390" height="557", alt="Кофейный напиток Баунти").new__image
