section.page__order.order#order
  .order__container.container
    .order__content
      form(action="#" method="POST").order__form.order-form
        h2.order-form__title Заказать кофе Sorso
        p.order-form__description Мы готовим свой кофе на зерне фирмы Sorso высочайшего качества, если вы хотите продолжить кофейную магтю у себя дома оформляйте заказ на доставку
        .order-form__wrap
          input(type="text" placeholder="ФИО" name="full-name" id="full-name").input
          label(for="full-name").visually-hidden Введите имя, фамилию и отчеств
        .order-form__wrap
          input(type="email", name="email" id="email" placeholder="Электронная почта").input
          label(for="email").visually-hidden Введите электронную почту
        .order-form__wrap
          p.order-form__country-code +375
          input(type="text" placeholder="29" name="operator-code" id="operator-code" maxlength="2").input.order-form__operator-code
          label(for="operator-code").visually-hidden Введите код оператора
          input(type="tel", name="phone-number" id="phone-number" maxlength="7").input.order-form__phone
          label(for="phone-number").visually-hidden Введите номер телефона
        .order-form__wrap
          input(type="text", placeholder="Адрес" name="address" id="address").input
          label(for="address").visually-hidden Введите адрес
        .order-form__wrap
          input(type="text", placeholder="Дата" name="delivery-date" id="delivery-date").input.order-form__date
          label(for="delivery-date").visually-hidden Введите дату доставки
        .order-form__wrap.order-form__wrap--column
          input(type="text", placeholder="" name="delivery-time" id="delivery-time").input.order-form__time
          label(for="delivery-time").visually-hidden Введите время доставки
          p.order-form__note (В данной строке необходимо указать удобное для вас время звонка)
        button(type="submit").button Отправить заявку
      .order__gallery
        .order__big-slider.order-big-slider.splide
          .splide__track
            ul.splide__list
              li.splide__slide
                img(src="img/order-slide-1.png", width="429" height="429" alt="Sorso кофе 1").order-big-slider__image
              li.splide__slide
                img(src="img/order-slide-2.png", width="429" height="429" alt="Sorso кофе 3").order-big-slider__image
              li.splide__slide
                img(src="img/order-slide-3.png", width="429" height="429" alt="Sorso кофе 2").order-big-slider__image
              li.splide__slide
                img(src="img/order-slide-1.png", width="429" height="429" alt="Sorso кофе 1").order-big-slider__image
        .order__order-thumb-slider
          button(type="button").order__thumb-slider-button.order__thumb-slider-button--prev
            +svg("", "next-arrow-ic", 53, 45, "true")
          button(type="button").order__thumb-slider-button.order__thumb-slider-button--next
            +svg("", "prev-arrow-ic", 53, 45, "true")
          .order-thumb-slider.splide
            .splide__track
              ul.splide__list
                li.splide__slide
                  img(src="img/order-slide-1-thumb.png" width="98" height="158", alt="Превью кофе Sorso 1").order-thumb-slider__image
                li.splide__slide
                  img(src="img/order-slide-2-thumb.png" width="98" height="158", alt="Превью кофе Sorso 2").order-thumb-slider__image
                li.splide__slide
                  img(src="img/order-slide-3-thumb.png" width="98" height="158", alt="Превью кофе Sorso 3").order-thumb-slider__image
                li.splide__slide
                  img(src="img/order-slide-1-thumb.png" width="98" height="158", alt="Превью кофе Sorso 1").order-thumb-slider__image
