.button {
  border: 2px solid var(--color-eclipse);
  border-radius: 4px;
  padding: 10px 33px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-white);
  background-color: var(--color-eclipse);
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;

  &:focus {
    @include outline;
  }

  @include px930 {
    padding: 8px 20px;
    font-size: 20px;
  }

  @include px780 {
    padding: 6px 14px;
    font-size: 15px;
  }

  @include hover {
    color: var(--color-eclipse);
    background-color: var(--color-white);
  }
}

.button:active {
  border-color: var(--color-heath);
  background-color: var(--color-heath);
}
