.button {
  border: none;
  border-radius: 4px;
  padding: 12px 35px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-white);
  background-color: var(--color-eclipse);
  cursor: pointer;
  user-select: none;

  @include px930 {
    padding: 8px 20px;
    font-size: 20px;
  }

  @include px780 {
    padding: 6px 14px;
    font-size: 15px;
  }
}

.button:active {
  background-color: var(--color-heath);
}
