.footer-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;

  @include max-sm {
    flex-direction: column;
  }
}

.footer-list__item:nth-child(2) {
  @include max-md {
    flex-shrink: 1;
  }
}

.footer-list__item:not(:last-child) {
  margin-right: 30px;

  @include max-lg {
    margin-right: 20px;
  }

  @include max-sm {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.footer-list__title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: var(--color-white);

  @include max-xxl {
    font-size: 18px;
    line-height: 24px;
  }

  @include max-lg {
    font-size: 16px;
  }

  @include max-md {
    font-size: 13px;
    line-height: 16px;
  }
}

.footer-list__content {
  margin-left: 0;
}
