.hero__container {
  position: relative;
  margin-top: calc(var(--header-height) * -2);
  padding-top: var(--header-height);

  &::after {
    content: "";
    position: absolute;
    right: 39px;
    top: var(--header-height);
    width: 164px;
    height: calc(281px + var(--header-height));
    background-image: url('data:image/svg+xml,<svg width="164" height="281" viewBox="0 0 164 281" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="164" height="281" fill="%23EAEBE6"/></svg>');
    background-position: top var(--header-height) left 0;
    background-size: 164px 281px;
    background-repeat: no-repeat;

    @include px1360 {
      right: 0;
      width: calc(var(--side-gap) + 15px);
    }

    @include px700 {
      height: calc(166px + var(--header-height));
    }
  }
}

.hero__grid {
  position: relative;
  left: 50%;
  z-index: 2;
  width: calc(var(--column-width) * 5);
  transform: translateX(-50%);

  &::before {
    @include px425 {
      content: "";
      grid-column: 1 / 1;
      grid-row: 1 / 1;
      margin-top: var(--header-height);
      width: 100%;
      height: 54px;
      background-image: url("../img/cupcake.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
