.input {
  appearance: none;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  font-size: 18px;
  line-height: 27px;

  &:focus {
    @include outline-inner;
  }

  @include px1360 {
    font-size: 16px;
  }

  @include px1090 {
    padding: 2px 8px;
  }
}
