.locations-tabs__controls {
  display: flex;
}

.locations-tabs__control {
  border-top: 2px solid var(--color-mongoose);
  border-right: 2px solid var(--color-mongoose);
  border-left: 2px solid var(--color-mongoose);
  border-radius: 4px 4px 0 0;
  padding: 11px 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: var(--color-mongoose);
  background-color: var(--color-white);

  &:focus {
    @include outline-inner;
  }

  @include hover {
    background-color: var(--color-aths-special);
  }

  @include max-xl {
    padding: 7px 20px;
    font-size: 20px;
  }

  @include max-md {
    padding: 6px 15px;
    font-size: 15px;
  }

  @include max-sm {
    padding: 3px 10px;
    font-size: 14px;
  }

  @include max-xs {
    padding: 3px;
    line-height: 1.3;
  }
}

.locations-tabs__control:not(:last-child) {
  margin-right: 11px;

  @include max-md {
    margin-right: 6px;
  }
}

.locations-tabs__control--active {
  color: var(--color-white);
  background-color: var(--color-mongoose);
  cursor: default;

  @include hover {
    background-color: var(--color-mongoose);
  }
}

.locations-tabs__panel {
  display: none;
}

.locations-tabs__panel--active {
  display: block;
}

.locations-tabs__map-wrapper {
  overflow: hidden;
  border-radius: 0 5px 5px;
  padding: 8px;
  height: 830px;
  max-width: 1238px;
  background-color: var(--color-mongoose);

  @include max-xxl {
    height: 730px;
  }

  @include max-xl {
    height: 630px;
  }

  @include max-lg {
    height: 530px;
  }

  @include max-md {
    height: 450px;
  }

  @include max-sm {
    height: 400px;
  }

  @include max-xs {
    padding: 3px;
    height: 228px;
  }
}

.locations-tabs__map {
  width: 100%;
  height: 100%;
}

.locations-tabs__zoom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 42px;
  height: 42px;
  background-color: var(--color-mongoose);
  cursor: pointer;
  user-select: none;

  @include max-md {
    width: 30px;
    height: 30px;
  }
}

.locations-tabs__zoom-button--zoom-in {
  margin-bottom: 3px;
}

.locations-tabs__zoom-button svg {
  fill: var(--color-white);

  @include max-md {
    width: 22px;
    height: 22px;
  }
}
