.locations__container {
  max-width: 1470px;
}

.locations__content {
  --locations-side-gap: 116px;

  margin-right: var(--locations-side-gap);
  margin-left: var(--locations-side-gap);
  max-width: 1238px;

  @include max-xxl {
    --locations-side-gap: 60px;
  }

  @include max-xl {
    --locations-side-gap: 35px;
  }

  @include max-sm {
    --locations-side-gap: 10px;
  }
}

.locations__title {
  margin-top: 0;
  margin-bottom: 85px;
  font-weight: 600;
  font-size: 48px;
  line-height: 30px;
  color: var(--color-black);

  @include max-xxl {
    margin-bottom: 50px;
    font-size: 40px;
  }

  @include max-xl {
    margin-bottom: 30px;
    font-size: 36px;
  }

  @include max-md {
    margin-bottom: 20px;
    font-size: 24px;
  }
}
