.locations__container {
  max-width: 1470px;
}

.locations__content {
  margin-right: auto;
  margin-left: auto;
  max-width: 1238px;

  @include max-xxl {
    padding-right: 60px;
    padding-left: 60px;
  }

  @include max-xl {
    padding-right: 35px;
    padding-left: 35px;
  }

  @include max-sm {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.locations__title {
  margin-top: 0;
  margin-bottom: 85px;
  font-weight: 600;
  font-size: 48px;
  line-height: 30px;
  color: var(--color-black);

  @include max-xxl {
    margin-bottom: 50px;
    font-size: 40px;
  }

  @include max-xl {
    margin-bottom: 30px;
    font-size: 36px;
  }

  @include max-md {
    margin-bottom: 20px;
    font-size: 24px;
  }
}
