.logo__image {
  display: block;
  width: 247px;
  height: 82px;
  object-fit: contain;

  @include max-xxl {
    width: 220px;
    height: 73px;
  }

  @include max-xl {
    width: 180px;
    height: 60px;
  }

  @include max-lg {
    width: 165px;
    height: 55px;
  }

  @include max-md {
    width: 150px;
    height: 50px;
  }
}
