.menu-card {
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  padding: 11px 6px;
  min-height: 306px;

  @include px1250 {
    min-height: 250px;
  }

  @include px930 {
    min-height: 215px;
  }

  @include px780 {
    padding: 11px 4px;
    min-height: 200px;
  }
}

.menu-card__text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 153px;

  @include px1250 {
    min-height: 120px;
  }

  @include px930 {
    min-height: 100px;
  }
}

.menu-card__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--color-black);

  @include px1250 {
    font-size: 17px;
    line-height: 1.4;
  }

  @include px930 {
    font-size: 13px;
  }

  @include px425 {
    font-size: 16px;
  }
}

.menu-card__params {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  min-height: 60px;
}

.menu-card__params-column {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 2px 12px;
  min-height: 60px;

  @include px1250 {
    margin: 2px 6px;
  }

  @include px930 {
    margin: 2px 3px;
  }
}

.menu-card__price {
  margin-top: auto;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  color: var(--color-black);

  @include px1250 {
    margin-top: 0;
    font-size: 24px;
  }

  @include px1090 {
    font-size: 22px;
  }

  @include px930 {
    font-size: 20px;
  }
}

.menu-card__volume {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-black);

  @include px1250 {
    margin-bottom: 6px;
    font-size: 13px;
  }

  @include px930 {
    font-size: 11px;
  }
}

.menu-card__image {
  display: block;
  align-self: center;
  margin-top: auto;
  margin-bottom: -30px;
  height: 149px;
  max-width: 205px;
  object-fit: contain;

  @include px1250 {
    height: 110px;
    max-width: 150px;
  }

  @include px930 {
    height: 90px;
    max-width: 88px;
  }
}
