.new {
  padding-top: 188px;
  padding-bottom: 106px;

  @include max-lg {
    padding-top: 120px;
  }

  @include max-md {
    padding-top: 88px;
    padding-bottom: 55px;
  }

  @include max-xs {
    padding-top: 82px;
    padding-bottom: 45px;
  }
}

.new__container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 0;
    display: block;
    width: 51px;
    height: 254px;
    background-image: url("data:image/svg+xml,%3Csvg width='51' height='254' viewBox='0 0 51 254' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='51' height='254' fill='%23EAEBE6'/%3E%3C/svg%3E");
    background-position: top 0 left 0;
    background-repeat: no-repeat;

    @include max-xxl {
      left: 0;
    }

    @include max-xl {
      width: 27px;
      height: 169px;
    }

    @include max-xs {
      width: 15px;
      height: 100px;
    }
  }
}

.new__content {
  --new-side-gap: 111px;

  display: flex;
  align-items: flex-start;

  @include max-xxl {
    --new-side-gap: 60px;

    margin-right: var(--new-side-gap);
    margin-left: var(--new-side-gap);
  }

  @include max-xl {
    --new-side-gap: 35px;

    justify-content: space-between;
  }

  @include max-sm {
    flex-direction: column-reverse;
  }

  @include max-xs {
    --new-side-gap: 20px;
  }
}

.new__text-content {
  display: flex;
  flex-shrink: 2;
  flex-direction: column;
  margin-right: 120px;
  margin-left: var(--new-side-gap);
  max-width: 642px;

  @include max-xxl {
    margin-left: 0;
  }

  @include max-xl {
    margin-right: 50px;
  }

  @include max-sm {
    margin-right: 0;
  }
}

.new__title {
  order: 3;
  margin-top: 0;
  margin-bottom: 46px;
  font-weight: 600;
  font-size: 48px;
  line-height: 30px;
  color: var(--color-black);

  @include max-xl {
    margin-bottom: 30px;
    font-size: 40px;
    line-height: normal;
  }

  @include max-md {
    margin-bottom: 26px;
    font-size: 30px;
  }

  @include max-xs {
    margin-bottom: 15px;
    font-size: 24px;
  }
}

.new__price {
  order: 2;
  margin-top: 0;
  margin-bottom: 71px;
  font-weight: 600;
  font-size: 64px;
  color: var(--color-japonica);

  @include max-xl {
    margin-bottom: 30px;
    font-size: 48px;
  }

  @include max-md {
    font-size: 40px;
  }

  @include max-xs {
    margin-bottom: 20px;
    font-size: 32px;
  }
}

.new__volume {
  vertical-align: 30px;
  margin-left: 20px;
  font-size: 24px;
  line-height: 30px;
  white-space: nowrap;
  color: var(--color-silver);

  @include max-xs {
    margin-left: 18px;
    font-size: 20px;
  }
}

.new__tag {
  order: 1;
  margin-bottom: 63px;
  font-weight: 600;
  font-size: 48px;
  line-height: 30px;
  color: var(--color-black);

  @include max-xl {
    margin-bottom: 36px;
    font-size: 38px;
    line-height: normal;
  }

  @include max-md {
    margin-bottom: 26px;
    font-size: 30px;
  }

  @include max-xs {
    margin-bottom: 0;
    font-size: 24px;
  }
}

.new__description {
  order: 4;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-black);

  @include max-xl {
    font-size: 16px;
  }

  @include max-xs {
    font-size: 14px;
    line-height: 1.7;
  }
}

.new__media {
  flex-shrink: 0.5;
  margin-right: 60px;

  @include max-xl {
    flex-shrink: 0.7;
    margin-right: 0;
  }

  @include max-md {
    flex-shrink: 1;
  }

  @include max-sm {
    align-self: center;
    margin-bottom: 20px;
    max-width: 280px;
  }
}

.new__image {
  display: block;
  width: 390px;
  height: 557px;
  object-fit: contain;

  @include max-xl {
    width: 310px;
    height: 443px;
  }

  @include max-md {
    width: 280px;
    height: 400px;
  }

  @include max-xs {
    width: 210px;
    height: 300px;
  }
}
