.order__container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 0;
    display: block;
    width: 51px;
    height: 254px;
    background-image: url("data:image/svg+xml,%3Csvg width='51' height='254' viewBox='0 0 51 254' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='51' height='254' fill='%23EAEBE6'/%3E%3C/svg%3E");
    background-position: top 0 left 0;
    background-repeat: no-repeat;

    @include max-xxl {
      left: 0;
    }

    @include max-xl {
      width: 27px;
      height: 169px;
    }

    @include max-sm {
      left: unset;
      right: 0;
      width: 25px;
      height: 132px;
    }
  }
}

.order__content {
  --order-side-gap: 111px;

  display: flex;
  justify-content: center;
  margin-right: var(--order-side-gap);
  margin-left: var(--order-side-gap);

  @include max-xxl {
    --order-side-gap: 60px;
  }

  @include max-xl {
    --order-side-gap: 35px;
  }

  @include max-sm {
    --order-side-gap: 10px;

    flex-direction: column;
  }
}

.order__form {
  flex-shrink: 1;
  margin-right: 50px;
  max-width: 575px;

  @include max-xxl {
    margin-right: 30px;
  }

  @include max-md {
    margin-right: 10px;
  }

  @include max-sm {
    margin-right: 0;
    margin-bottom: 50px;
    width: 100%;
    max-width: none;
  }
}

.order__gallery {
  display: flex;
  flex: 0 3 594px;
  flex-direction: row;
  align-items: center;

  @include max-xxl {
    flex: 0 3 470px;
  }

  @include max-xl {
    flex: 0 3 400px;
  }

  @include max-lg {
    flex: 0 3 350px;
  }

  @include max-md {
    flex: 0 3 288px;
  }

  @include max-sm {
    display: block;
    flex: 0 3 350px;
    flex-direction: column;
  }
}

.order__big-slider {
  max-width: 429px;

  @include max-xxl {
    max-width: 340px;
  }

  @include max-xl {
    max-width: 290px;
  }

  @include max-lg {
    max-width: 240px;
  }

  @include max-md {
    max-width: 200px;
  }

  @include max-sm {
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    max-width: 350px;
  }

  @include max-xs {
    max-width: 300px;
  }
}

.order__order-thumb-slider {
  display: flex;
  flex: 0 1 165px;
  flex-direction: column;
  align-items: center;

  @include max-xxl {
    flex: 0 1 130px;
  }

  @include max-xl {
    flex: 0 1 110px;
  }

  @include max-md {
    flex: 0 1 88px;
  }

  @include max-sm {
    display: block;
    flex: 0 1 auto;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 34px;
    max-width: 400px;
  }
}

.order__thumb-slider-button {
  border: none;
  padding: 0;
  width: 45px;
  height: 53px;
  background-color: transparent;
  transform: rotate(-90deg);
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;

  &:focus {
    @include outline;
  }

  @include hover {
    opacity: 0.6;
  }

  @include max-lg {
    width: 28px;
    height: 24px;
  }

  @include max-sm {
    display: none;
  }
}

.order__thumb-slider-button--prev {
  order: 1;
  margin-bottom: 53px;

  @include max-xxl {
    margin-bottom: 30px;
  }

  @include max-lg {
    margin-bottom: 27px;
  }
}

.order__thumb-slider-button--next {
  order: 3;
  margin-top: 53px;

  @include max-xxl {
    margin-top: 30px;
  }

  @include max-lg {
    margin-top: 27px;
  }
}

.order__thumb-slider-button svg {
  display: block;
  width: 45px;
  height: 53px;
  fill: var(--color-japonica);

  @include max-lg {
    width: 28px;
    height: 24px;
  }
}
