.page__body--hide {
  opacity: 0;
  visibility: hidden;
}

.page__menu {
  margin-bottom: 204px;

  @include px780 {
    margin-bottom: 114px;
  }

  @include px425 {
    margin-bottom: 42px;
  }
}

.page__locations {
  margin-bottom: 120px;

  @include px425 {
    margin-bottom: 90px;
  }
}

.page__order {
  margin-bottom: 153px;

  @include px780 {
    margin-bottom: 82px;
  }

  @include px425 {
    margin-bottom: 68px;
  }
}
