.promo__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promo__slider .splide__arrow {
  border: none;
  border-radius: unset;
  width: 45px;
  height: 53px;
  background-color: transparent;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  @include hover {
    &:not(:disabled) {
      opacity: 0.6;
    }
  }

  @include max-md {
    width: 24px;
    height: 28px;
  }

  @include max-xs {
    width: 12px;
    height: 14px;
  }
}

.promo__slider .splide__arrow--prev {
  left: 38px;

  @include max-md {
    left: 20px;
  }

  @include max-xs {
    left: 10px;
  }
}

.promo__slider .splide__arrow--next {
  right: 38px;

  @include max-md {
    right: 20px;
  }

  @include max-xs {
    right: 10px;
  }
}

.promo__slider .splide__arrow svg {
  width: 45px;
  height: 53px;
  fill: var(--color-mongoose);

  @include max-md {
    width: 24px;
    height: 28px;
  }

  @include max-xs {
    width: 12px;
    height: 14px;
  }
}

.promo__slider .splide__arrow--prev svg {
  transform: scale(1);
}

.promo__slider .splide__arrow:active svg {
  fill: var(--color-domino);
}

.promo__slider .splide__pagination {
  bottom: 35px;

  @include max-lg {
    bottom: 18px;
  }

  @include max-xs {
    bottom: 9px;
  }
}

.promo__slider .splide__pagination__page {
  margin: 3px 10px;
  width: 15px;
  height: 15px;
  background-color: var(--color-mongoose);
  opacity: 1;

  @include max-lg {
    margin: 3px;
    width: 8px;
    height: 8px;
  }

  @include max-xs {
    margin: 3px 5px;
    width: 4px;
    height: 4px;
  }
}

.promo__slider .splide__pagination__page.is-active {
  background-color: var(--color-akaroa);
  transform: scale(1);
}
