.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  margin-bottom: -6px;
  padding: 0;
  padding-bottom: 8px;
  max-width: 750px;
}

.site-navigation__item:not(:last-child) {
  margin-right: 76px;

  @include max-xxl {
    margin-right: 60px;
  }

  @include max-xl {
    margin-right: 45px;
  }

  @include max-lg {
    margin-right: 38px;
  }

  @include max-xs {
    margin-right: 20px;
  }
}

.site-navigation__item {
  margin-bottom: 6px;
}

.site-navigation__link {
  position: relative;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
  color: var(--color-black);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--color-japonica);
    opacity: 0;
    transition:
      opacity 0.3s ease-in-out,
      width 0.3s ease-in-out;
  }

  &:focus {
    @include outline;
  }

  @include hover {
    &::before {
      width: 50%;
      opacity: 1;
    }
  }

  @include max-xxl {
    font-size: 22px;
  }

  @include max-xl {
    font-size: 20px;
  }

  @include max-lg {
    font-size: 18px;
  }

  @include max-md {
    font-size: 16px;
  }

  @include max-xs {
    font-size: 14px;
  }
}
