.site-footer {
  background-color: var(--color-eclipse);
}

.site-footer__list {
  padding: 88px 50px;
}

.site-footer__partners-list {
  margin-right: -16px;
  margin-bottom: -11px;
  max-width: 564px;
}
