.site-header {
  position: relative;
  z-index: 3;
  border-bottom: 1px solid var(--color-border);
  min-height: var(--header-height);
}

.site-header__container {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.site-header__logo {
  display: flex;
  align-items: flex-end;
  margin-right: 49px;
  height: var(--header-height);
  background-color: #fff;
}
