.socials {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  margin-right: -21px;
  margin-bottom: -10px;
}

.socials__item {
  margin-right: 21px;
  margin-bottom: 10px;

  @include max-xxl {
    margin-right: 15px;
  }

  @include max-lg {
    margin-right: 10px;
  }
}

.socials__link {
  display: block;
  width: 26px;
  height: 26px;
  background-position: center;
  background-size: 26px;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  &:focus {
    @include outline;
  }

  &--vk {
    background-image: url("../img/vk-ic.svg");
  }

  &--youtube {
    background-image: url("../img/youtube-ic.svg");
  }

  &--telegram {
    background-image: url("../img/telegram-ic.svg");
  }

  &--tiktok {
    background-image: url("../img/tiktok-ic.svg");
  }

  @include hover {
    opacity: 0.6;
  }

  @include max-xxl {
    width: 22px;
    height: 22px;
    background-size: 22px;
  }

  @include max-lg {
    width: 18px;
    height: 18px;
    background-size: 18px;
  }
}
